@using Parcel.Models;

<h1>Welcome to Phil's Parcels and Packages! You Pack it, We Process it! </h1>
<p>Since you just got here, your 'cart' is empty. Want to ship something?</p>
<p><a href="/NewParcel">New Package</a></p>