@using Parcel.Models;

<h1>Welcome to Phil's Parcels and Packages! You Pack it, We Process it! </h1>
@if (Model.Count == 0)
{
  <p>Since you just got here, your 'cart' is empty. Want to ship something?</p> 
}
else if (Model.Count > 0)
{
  <ul>
  @foreach (Package anything in Model)
  {
    <li>Package Volume: @anything.GetVolume()in^3<br>Package Weight: @anything.GetWeight() lbs<br>Cost: $@anything.CostToShip()</li>
  }
  </ul>
}
<p><a href="/NewParcel">New Package</a></p>



