@using Parcel.Models;

<form action="/AddItem" method="post">
  <label for="height">Package Height</label>
  <input type="number" required>
  <label for="width">Package Width</label>
  <input type="number" required>
  <label for="length">Package Length</label>
  <input type="number" required>
  <label for="weight">Weight (in pounds)</label>
  <input type="number" required>
  <button type="submit">Add Package</button>
</form>